# Python cache files
__pycache__/
*.py[cod]

# IDE specific files
.vscode/
*.suo
*.swp
*.sublime-workspace
*.sublime-project

# OS specific files
.DS_Store
Thumbs.db

# Virtual environment
venv/
env/
